# compiled output
/dist
/tmp

/male-spectrum-output
/female-spectrum-output
/fourth-attempt-output

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.env

# System Files
.DS_Store
Thumbs.db

vapid-keys.json
.angular/*
fourth-attempt-output/0.jpg

.cursor\rules\nx-rules.mdc
.github\instructions\nx.instructions.md
