<div class="article-background">
    <main class="center-not-text article-wrapper">
        <article-header [data]="data"></article-header>
        <article-disclosure></article-disclosure>
        <article>
            <section>
                <p>Tidy cables can transform your home office space. This guide covers the process of how to organize cords in your office and shows you some of the best products to manage and conceal your cables. First, you'll need a plan, which starts
                    with your desk.
                </p>
                <section class="page-contents">
                    <p class="mb-0"><strong>Page Contents:</strong></p>
                    <ul class="mt-0" style="list-style: none;font-size: 1.2rem;">
                        <li><a href="cable-management-guide#DeskChoice">1. Desk Choice and Placement</a></li>
                        <li><a href="cable-management-guide#PowerSource">2. Power Source</a></li>
                        <li><a href="cable-management-guide#ReduceNumberOfCables">3. Reduce Number of Cables</a></li>
                        <li><a href="cable-management-guide#KVM">4. KVM/USB Switch</a></li>
                        <li><a href="cable-management-guide#Monitors">5. Monitor Placement</a></li>
                        <li><a href="cable-management-guide#CableRouting">6. Cable Routing</a></li>
                        <li><a href="cable-management-guide#HolesAndGrommets">7. Drill Holes</a></li>
                        <li><a href="cable-management-guide#ExcessCableSlack">8. Excess Cable Slack</a></li>
                    </ul>
                </section>
            </section>
            <h2 id="DeskChoice">Step 1 - Choose Your Desk</h2>
            <p>If you're happy with your desk and where it's located, you can safely <a href="cable-management-guide#PowerSource">
                skip to the next section</a>.
            </p>
            <p><strong>Desk Type</strong></p>
            <p>There isn't a single optimal desk type that is best for everyone, but here are some factors to consider when choosing a desk for your home office.</p>
            <ul>
                <li>Surface area</li>
                <li>Built-in storage space</li>
                <li>Standing, sitting, or adjustable for both</li>
                <li>Height, width, depth, and shape</li>
                <li>Cable management features</li>
                <li>Leg room</li>
                <li>Price</li>
            </ul>
            <p>Find a desk that checks all the boxes that you care about. If you need some suggestions, here are some popular desk options with high ratings.
            </p>
            <ul>
                <li><a href="https://amzn.to/3BnZMMl" target="_blank">Adjustable sit/stand desk with cable management tray
                    and hook and grommets</a></li>
                <li><a href="https://amzn.to/3fQXyJB" target="_blank">Reversible L-Shaped desk with extra storage space</a>
                </li>
                <li><a href="https://amzn.to/3tTeOGj" target="_blank">Affordable, sturdy desk with storage bag and headset
                    hook</a></li>
            </ul>
            <p><strong>Desk Placement</strong></p>
            <p>Where should you place your desk in your home office?</p>
            <quote [author]="'HouseBeautiful.com'" [text]="deskQuote" [url]="'https://www.housebeautiful.com/room-decorating/home-library-office/a34826494/6-designer-tips-home-office-wfh-friendly/'">
            </quote>
            <p>
                Natural light is another important consideration, but a double-edged sword in this case because of screen glare. Place your desk where you can avoid a glare or possibly reduce the impact with sheer curtains.
            </p>
            <p>
                Want your desk in the middle of the room? It's still possible to maintain good cable management, but I'd recommend hiring an electrician to install an outlet on the floor under the desk.
            </p>
            <h2 id="PowerSource">Step 2 - Power Source</h2>
            <p>After your desk is set up how you want it, decide where to place your power strip. I suggest mounting it underneath your desk if possible, but it can also work well to place it inside a <a href="https://amzn.to/3fr8sWb" target="_blank">cable box</a>                or cable tray.
            </p>
            <p>
                Having a decent power strip is worth a few extra dollars. The features of a good power strip include:
            </p>
            <ul>
                <li>Plenty of widely-spaced outlets</li>
                <li>Ability to mount it</li>
                <li>USB charging ports</li>
                <li>Flat plug</li>
                <li>Surge protector</li>
            </ul>
            <amz-product [amzProd]="surgeProtector"></amz-product>

            <p>Once you have your desk and power strip in place, you have laid the groundwork for planning how to organize your cables.
            </p>
            <h2 id="ReduceNumberOfCables">Step 3 - Reduce the Number of Cables</h2>
            <p>
                To keep things simple, shutdown your computers and unplug the end of the cables that connect to your power strip (If you know where they all go, it can be cleaner to just unplug both ends).
            </p>
            <p>
                Then, take inventory of all the cords aside from the essential HDMI cables to your monitors and power cables to your computers and monitors. Those are essential and non-negotiable.
            </p>
            <p>
                You may find cables for the following types of devices:
            </p>
            <ul>
                <li>Mouse</li>
                <li>Keyboard(s)</li>
                <li>Headsets</li>
                <li>Routers or Wifi Access Points</li>
                <li>Smart Speakers</li>
                <li>Game consoles</li>
                <li>Charging cables</li>
            </ul>
            <p>Your goal, should you choose to accept it, will be to eliminate most, if not all, of the cable traffic from these devices. Let's go through the list to see how you can accomplish that.
            </p>
            <p><strong>Mouse</strong></p>
            <p>This one is simple. Get a wireless mouse if you don't have one. Wires on mice get in the way, and modern wireless mice have fantastic battery life. Have a look at the one that I use:
            </p>
            <ul>
                <li>Usable on any surface</li>
                <li>Rechargable battery lasts up to 70 days</li>
                <li>Ergonomic design</li>
                <li>Switch between 3 devices</li>
                <li>Copy and paste between devices</li>
            </ul>
            <amz-product [amzProd]="mouse"></amz-product>

            <p><strong>Keyboard</strong></p>
            <p>Wireless keyboards can also reduce your cable traffic. Worried about constantly charging it? The battery life on this one can last up to 6 months!
            </p>
            <amz-product [amzProd]="keyboard"></amz-product>

            <p><strong>Headset</strong></p>
            <p>In comparison with other input devices, wireless headsets generally have a very poor battery life. I keep a wired backup just in case, but I enjoy the freedom of leaving my chair to grab a drink without missing anything on a team meeting.
            </p>
            <ul>
                <li>Noise cancellation</li>
                <li>Swivel to mute</li>
                <li>Comfortable and easy to use</li>
            </ul>
            <amz-product [amzProd]="headset"></amz-product>

            <p><strong>Additional Devices</strong></p>
            <p>For most other devices, you won't be able to replace them with a wireless version, but you can locate them more strategically with various mounting options. Listed below is a small sample of mounting solutions for the most common peripheral
                devices you may be harboring on or around your desk.
            </p>
            <ul>
                <li><a href="https://amzn.to/3zeEChh" target="_blank">Mount for Echo Dot (4th Gen)</a></li>
                <li><a href="https://amzn.to/3rN8ttj" target="_blank">Google Home Mini AC Outlet Mount</a></li>
                <li><a href="https://amzn.to/3Asuzp0" target="_blank">Universal, adjustable mount for routers, game consoles
                    and more</a></li>
            </ul>
            <p>Lastly, if you charge your phones, tablets, and smart watches in your office, consider using an organized charging station with short cords. I'm very happy with this one because I can charge everything at once, without a mess of long charging
                cords.
            </p>
            <amz-product [amzProd]="chargingStation"></amz-product>

            <h2 id="KVM">Step 4 - KVM/USB Switch</h2>
            <p>A KVM or USB switch is vital for anyone working with multiple computers on the same desk. If you have two keyboards on your desk, this device will be a huge space saver.
            </p>
            <amz-product [amzProd]="kvm"></amz-product>

            <p><strong>KVM</strong> (keyboard, video, and mouse) switches are simple. Plug a mouse, keyboard, and or any USB input device into this switch's output. Then, connect your two computers to the input slots with another USB cable. That's it!
            </p>
            <p>You can now use one mouse and one keyboard with both computers. When you want to switch to the other computer, just press the button on your switch, and all your input devices are connected.
            </p>
            <p><strong>Choose a location for your switch</strong> that is hidden and accessible, such as the side of your desk on the inside. The KVM is a key junction for your cables because your input devices and computers will all connect to it.
            </p>
            <p><span class="italic">Pro tip:</span> Mount your KVM switch on the inside of your desk with adhesive velcro strips or <a href="https://amzn.to/3rKsK2Q" target="_blank">two-sided mounting tape</a>.
            </p>
            <h2 id="Monitors">Step 5 - Monitors</h2>
            <p>Monitors are the final source of cable traffic and should not be forgotten. Double monitors are fairly standard now, which means at least four unruly cables could be draping down your desk.
            </p>
            <p>
                There are three main strategies to tackle this problem, each with pros and cons:
            </p>
            <ul style="list-style-type: decimal;">
                <li>
                    <strong><a href="https://amzn.to/3rLWhZJ" target="_blank">Wall Mount</a></strong>
                    <ul style="padding-left:10px;">
                        <li>Desk must be parallel to wall</li>
                        <li>Must put holes in the wall</li>
                        <li>Most expertise to set up</li>
                        <li>Cleanest look if done properly</li>
                        <li>Hide wires inside wall</li>
                    </ul>
                </li>
                <li>
                    <strong><a href="https://amzn.to/33OQ3jN" target="_blank">Desk Arm Mount</a></strong>
                    <ul style="padding-left:10px;">
                        <li>Desk can be anywhere</li>
                        <li>No holes in wall</li>
                        <li>Fairly easy to set up</li>
                        <li>Adjustable height</li>
                        <li>Hide wires in mount arms</li>
                    </ul>
                </li>
                <li>
                    <strong><a href="https://amzn.to/3fSnWmr" target="_blank">Monitor Stand</a></strong>
                    <ul style="padding-left:10px;">
                        <li>Takes most space on desk</li>
                        <li>Easiest and cheapest</li>
                        <li>May not hide cables</li>
                        <li>Somewhat adjustable</li>
                    </ul>
                </li>
            </ul>
            <p>A common setup might have multiple monitors and laptops. If you're in that situation and looking for a solution, take a look at the example below. This demonstrates using the desk arm mount above to raise the monitors over the laptop screens
                to allow space to fit all four screens.
            </p>
            <img alt="Laptops with monitors mounted above" style="width:100%;" src="https://res.cloudinary.com/jemigo/image/upload/v1755719397/laptop-monitors.webp" srcset="./assets/images/laptop-monitors-sm.webp 335w, ./assets/images/laptop-monitors-lg.webp 638w" sizes="50vw">
            <p>Choose the solution that best suits you and your space, and if you need to use the same monitor with multiple computers, HDMI switches like the one below come in handy.</p>
            <amz-product [amzProd]="hdmiSwitch"></amz-product>

            <h2 id="CableRouting">Step 6 - Cable Routing</h2>
            <p>If you've followed the guide so far, you should finally know the full route of your cables.
                <p>
                    <p>The three cable paths should look like this:</p>
                    <ul style="list-style-type: decimal;">
                        <li>
                            Everything => Power strip⚡ => Wall outlet🔌
                        </li>
                        <li>
                            KVM 🪄 &lt;=> Devices 🖱️ ⌨️ 💻 🎧
                        </li>
                        <li>
                            Monitors 🖥️ => Computers 💻
                        </li>
                    </ul>
                    <p>With most of the legwork out of the way, you can plan the details of how each cable pathway can have a concealed route from source to destination.
                    </p>
                    <p>We've covered the most common solution for cords coming from monitors. The power strip is the only cable source from the wall, and usually the desk will hide that or you deem it acceptable considering it is only one cable.
                    </p>
                    <img style="width:100%;" src="https://res.cloudinary.com/jemigo/image/upload/v1755719410/plugtowall.webp" alt="Cable plug near wall outlet">
                    <p>
                        With one of the monitor solutions above, the HDMI cable and power cords from your monitors should already run through the wall or mounting arms. What you have left is the most crucial pathway between the power strip, KVM, and devices.
                    </p>
                    <p>
                        To hide and organize your cords simultaneously, identify the product that best suits your desk. Here are some of the most popular products to manage your cables.
                    </p>
                    <p>A <strong>desk skirt</strong> can attach to a desk with no back to provides cable concealment as well as a little personal privacy and storage space.
                    </p>
                    <amz-product [amzProd]="deskSkirt"></amz-product>
                    <p>
                        A <strong>cable management tray or rack</strong> can help you conceal and organize the excess cords, or even hold a power strip if you don't mount it. This cable management organizer is my personal favorite. It's easy to install
                        and has a sturdy, effective design. It can be mounted in various locations so you can choose what works for you.
                    </p>
                    <amz-product [amzProd]="cableManTray"></amz-product>
                    <p>
                        Don't want to put screws in your beautiful desk? <strong>Cable raceways</strong> are another good option, especially if you need to change direction or have a long pathway for your cables to travel. This simple and easy solution
                        is installed with adhesive that won't harm your desk or wall.
                    </p>
                    <amz-product [amzProd]="cableRaceway"></amz-product>
                    <p>
                        For height adjustable desks that aren't against a wall, try a <strong>vertebrae cable management
                kit</strong>. It can protect your cables that dangle to the ground while keeping them organized and tidy. This one has a weighted base to keep your cords out of the way.
                    </p>
                    <amz-product [amzProd]="vertebrae"></amz-product>
                    <p>
                        Once you've selected a product and installed it in place, you almost have a complete cable management system. Now look at your computers or laptops and take notice of where the cords naturally protrude, and how they would most likely get to the new pathway
                        so they can hide neatly away. You may find that it would be so much neater, and easier, if some of the cords could just go
                        <strong>through</strong> the desk.
                    </p>
                    <p>
                        Now let's take a moment to talk about drilling holes.
                    </p>
                    <h2 id="HolesAndGrommets">Step 7 - Drilling Holes and Grommets</h2>
                    <p>
                        If you decide to route cables through your desk, get a hole saw kit that can attach to your drill. Make sure you have a drill with decent power if your desk is thick and sturdy (I made this mistake and it was unpleasant).
                    </p>
                    <p>Here is the saw kit I bought, which works great and fits easily on a standard drill.
                    </p>
                    <amz-product [amzProd]="holeSawKit"></amz-product>
                    <p>
                        This will cut a clean, circular hole into your desk. After planning your cable route, drill your holes with this. I recommend the 2 inch saw, but whatever size you choose should match the grommet that you purchase.
                    </p>
                    <p>A <strong>grommet</strong> is just a nice covering for the hole, but there are some that also have power outlets or USB ports directly on it. For a very simple setup you might be able to get away with using the outlet grommets instead
                        of a power strip. But if you do that, your cable slack will be showing and you'll have to hide it with a cable box.
                    </p>
                    <amz-product [amzProd]="grommets"></amz-product>
                    <amz-product [amzProd]="grommetOutlet"></amz-product>
                    <p><span class="italic">Pro tip:</span> If the grommet isn't perfectly snug, wrap a little electrical tape around it to increase the diameter size of the grommet. This will help it stay in place. Just keep wrapping until the grommet fits
                        snug into the hole.
                    </p>
                    <h2 id="ExcessCableSlack">Step 8 - Excess Cable Slack</h2>
                    <p>
                        You can now thread your cables, one by one, from source to destination. But, before you plug each of them in, organize the extra slack by looping it, and then using straps, ties, or adhesive clips to keep it in place and to prevent tangling with other
                        cables.
                    </p>
                    <amz-product [amzProd]="cableStraps"></amz-product>
                    <p>These clips below are a simple way to direct cords to a junction, or to simply hold charging cables. They stick just about anywhere.
                    </p>
                    <amz-product [amzProd]="cableClips"></amz-product>
                    <p>
                        Now, plug in all your devices and power them up to ensure everything works properly. You may find that you missed something, but now you have an organized path for every cord and can easily add new ones.
                    </p>
                    <br>
                    <p><strong>Summary:</strong></p>
                    <p>If you find yourself stuck, need inspiration, or visual examples of great office setups, visit <a href="https://www.reddit.com/r/battlestations/" target="_blank">Reddit battlestations</a> for endless possibilities.</p>
                    <p>
                        A good cable management system makes an office space look so much better. It doesn't cost a lot to make a huge improvement to a space and anybody can do it. You don't have to live with the clutter. Combine any of these ideas together and add your own,
                        because every space is different. Many of the products recommended here are ones that I use for my home office and have made my battlestation neat-freak approved.
                    </p>
        </article>
        <scroll-top-button></scroll-top-button>
    </main>
</div>