@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$darkblue: #333;
$primary-color: #007BFF;
$lightbluetransparent: rgba(0, 123, 255, 0.1);
$screen-max-md: 768px;

.top-nav {
    position: fixed; /* Make the top-nav fixed */
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $darkblue;
    color: #FFF;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

// NAVIGATION
.jmg-navbar {
    position: fixed; /* Make the jmg-navbar fixed */
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between logo and menu items */
    background-color: #111111;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999; /* Ensure it stays on top */
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.jmg-navbar .menu {
    display: flex;
    flex: 1;
    justify-content: center; /* Center the menu items */
}

.jmg-navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-right: 30px;
    transition: color 0.3s ease;
}

.jmg-navbar a:hover,
.jmg-navbar a.jmg-nav-active {
    color: #007BFF;
    font-weight: 700;
}

.top-nav img {
    height: 31px;
    margin-right: 20px;
}

.menu-button-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-button {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
}

#menu-toggle:checked + .menu-button-container + .menu {
    display: flex;
}

.jmg-nav-item-mobile {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
    font-family: 'Pacifico', cursive; /* Unique font style */
}

.jmg-nav-item-mobile:hover {
    background-color: #007BFF;
}

@media (max-width: $screen-max-md) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 50px; /* Adjusted to account for the fixed navbar */
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-bottom: lightgrey solid 1px;
        background: linear-gradient(135deg, #f06, transparent);
        animation: slideDown 0.5s ease-in-out;
    }
    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked~.menu li {
        height: 2.5em;
        padding: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 10px 0;
        width: 100%;
        color: #333;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
                &:hover {
            transform: scale(1.05);
            background-color: #f0f0f0;
        }
    }

    .menu>li>a {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 10px 20px;
        width: 100%;
        color: #333;
        background-color: whitesmoke;
        text-decoration: none;
                &:hover,
        &:active,
        &:focus {
            background-color: $lightbluetransparent;
            color: #007BFF;
        }
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}