//media query sizes
$screen-min-sm: 0px;
$screen-min-md: 415px;
$screen-min-lg: 1001px;
$screen-max-md: 700px;
//articles
$article-content-width: 700px;
//footer
$footer-height: 231px;
$footer-height-mobile: 487px;