<div class="article-background">
    <main class="center-not-text article-wrapper">
        <article-header [data]="data"></article-header>
        <article-disclosure></article-disclosure>
        <article>
            <section>
                <p>
                    Historically, work has been tied to a location such as an office. Modern technology has been opening the doors to increasingly fade out this limitation for several decades. 41 million employees telecommuted in 2003 according to the
                    <a target="_blank" href="https://www.apa.org/pubs/journals/releases/apl-9261524.pdf">
                        Journal of Applied Psychology</a>, and that number has been increasing ever since.
                </p>
                <p>
                    The debate continues over whether our homes serve as viable work locations after the most recent pandemic acted as a catalyst for the WFH movement.
                </p>
                <section class="page-contents">
                    <p class="mb-0"><strong>Page Contents:</strong></p>
                    <ul class="mt-0" style="list-style: none;font-size: 1.2rem;">
                        <li><a href="wfh-guide/reasons-to-work-from-home#why-wfh">Why Work from Home?</a></li>
                        <li><a href="wfh-guide/reasons-to-work-from-home#wfh-motives">WFH Motives</a></li>
                        <li><a href="wfh-guide/reasons-to-work-from-home#time">Time: The Fourth Dimension</a></li>
                        <li><a href="wfh-guide/reasons-to-work-from-home#saving-time">How Much Time Can You Save?</a>
                        </li>
                        <li><a href="wfh-guide/reasons-to-work-from-home#flexibility">Flexibility</a></li>
                        <li><a href="wfh-guide/reasons-to-work-from-home#happiness">Increased Happiness</a></li>
                        <li><a href="wfh-guide/reasons-to-work-from-home#summary">Summary</a></li>
                    </ul>
                </section>
            </section>
            <section>
                <h2 id="why-wfh">Why Work from Home?</h2>
                <p>
                    A simple way to view the decision making process is a pros and cons chart. I’ll refer to this throughout the series. This is not all-inclusive and is quite generic for a reason. Part 1 covers the first two pros in this list, while
                    <a href="wfh-guide/take-control#part-2"> Part 2</a> includes the rest.
                </p>
                <p><strong>WFH Pros and Cons for Employees</strong></p>
                <table class="article-table">
                    <thead>
                        <tr>
                            <th>Pros</th>
                            <th>Cons</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Save time</td>
                            <td>Increased loneliness</td>
                        </tr>
                        <tr>
                            <td>Increased flexibility (work/life balance)</td>
                            <td>Greater communication hurdles</td>
                        </tr>
                        <tr>
                            <td>Control over environment</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Save money</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Reduce stress</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <p><strong>WFH Pros and Cons for Employers</strong></p>
                <table class="article-table">
                    <thead>

                        <tr>
                            <th>Pros</th>
                            <th>Cons</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Reduce office space costs</td>
                            <td>Empty offices with long term leases</td>
                        </tr>
                        <tr>
                            <td>Increase recruiting pool</td>
                            <td>Greater collaboration hurdles</td>
                        </tr>
                        <tr>
                            <td>Better retention</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>More productive employees</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    Most pros and cons fit under these categories. What’s interesting about this topic is that depending on your personality and environment, advantages for some might be disadvantages for others. Or in some cases, one person’s pro is neither a pro nor a
                    con for someone else.

                </p>
                <p class="mb-0">
                    For example, one employee might have a dedicated office in a quiet home that provides an optimal work environment, while another might live in a noisy, shared apartment that makes it hard for them to concentrate at home. Also, some may feel lonely and
                    isolated at home, while others could feel stressed and aggravated by interactions with fellow employees at the office.
                </p>
                <p>
                    Personal experience and dynamics at work vary by individual and environment. It’s naive to think that there’s a one-size fits all solution. Both office and remote work come with obstacles. Not all personalities will thrive in even the most conducive environment.

                </p>
            </section>
            <section>
                <h2 id="wfh-motives">WFH Motives</h2>
                <p>
                    Why do people want to work from home? This is a point that unfortunately needs to be raised, because there’s so much stress on productivity. But employees aren’t generally motivated by making wealthy business owners wealthier. Productivity is, and should
                    be, one of the motives for employers to send their workers home. However, demand for WFH isn’t coming from the employers.
                </p>
                <p>
                    Productivity is a bi-product, and certainly an important factor, of remote working. But if it isn’t the real motive, then why do so many articles keep talking about it? A quick Google search for “why do people want to work from home?” even reveals several
                    articles about productivity. A more general search like “work from home tips” suggests articles with even more focus on productivity.
                </p>
                <p>
                    How did we end up here then? Simply put, the writers are not invested in WFH. The world generally lacks ownership, care, and personal investment in things that matter. A refreshing exception to this was an article from Digital.com, entitled "The Real
                    Reasons People Want to Work From Home: It’s Not All About Productivity". The writer deserves a high five for actually getting the point, but apparently the article was removed from their site. (possibly because of the 2023 - 2024 huge
                    push by employers to return to the office)
                </p>
                <p>
                    The real reason, that all of us who actually WFH already know, is <strong>freedom and
                        flexibility</strong>. We just want to be happy human beings, and staying home allows us to do that. It also allows us to be more productive, which in turn benefits the employer, but that’s not why it’s important to us.
                </p>
            </section>
            <amz-product [amzProd]="wfhSign"></amz-product>
            <section>
                <h2 id="time">The Fourth Dimension</h2>
                <p>
                    Freedom and flexibility come from an increased ownership of our time.
                </p>
                <quote [author]="'J. R. R. Tolkien'" [text]="'All we have to decide is what to do with the time that is given us.'">
                </quote>
                <p>
                    Unless you possess the Ring of Power, Steve Jobs was correct in saying that time is the most precious resource we have. It’s hard to argue with J. R. R. Tolkien and Steve Jobs. You can’t acquire more and you can’t stop it from running out (Or can we?
                    See the <a target="_blank" href="https://www.youtube.com/watch?v=cZYNADOHhVY">Fable of the
                        Dragon-Tyrant</a>).
                </p>
                <amz-product [amzProd]="gtrSmartWatch"></amz-product>
                <p>
                    So how do we spend this limited resource, one that even the rich can’t buy? For many of us, roughly ½ of our waking week days are spent at work. But that doesn’t account for all the other work-related time expenses including:
                </p>
                <ul>
                    <li><strong>Commuting</strong> (A recent study found that in New York, employees can save over 15% of their time by WFH.)
                    </li>
                    <li><strong>Other travel-related delays</strong> (traffic, construction, forgetting something, security gates, finding parking, walking to your seat from the parking lot, vehicle breakdowns and accidents, extra vehicle maintenance)
                    </li>
                    <li><strong>Food</strong> (Preparing and packaging, driving to a restaurant, waiting in a cafeteria line)
                    </li>
                    <li><strong>Extra personal maintenance</strong> (more frequent personal grooming and laundry washing)
                    </li>
                    <li><strong>Overtime and long hours</strong> (not everyone works just 40 hour weeks)
                    </li>
                </ul>
                <p>
                    WFH can reduce all of these time expenses and offers even more opportunities for potential time savings. When home, you can spend breaks to knock out daily chores and tasks like laundry, errands, cleaning, showering, or exercising. These activities can
                    help take your mind off of work, provide the mental break you need, while also helping you physically move and stretch.
                </p>
                <p>
                    Working from home could be one of the simplest, most effective ways to take back some control of your life. If time were money, then commuting to work is like renting a house. You spend your time but don’t own it in the least. Conversely, WFH is like
                    buying a house. The monthly payments are less, you have more ownership and control, and it provides a return on investment (the effects of what you choose to do with your time).
                </p>
            </section>
            <section>
                <h2 id="saving-time">How Much Time Can You Save By Working From Home?</h2>
                <p>The amount of time saved by WFH is different for everyone, but it’s very plausible to save 1 to 2 hours a day, or 4% to 8% of your entire day. But remember, in the currency of time, sleep isn’t negotiable. Sleep is the tax of time. Therefore,
                    it may be more practical to budget from the perspective of time that you can actually spend.
                </p>
                <p>If you only count the hours that you are awake, assuming an 8 hour sleep cycle, 1 to 2 hours a day amounts to 6.25% to 12.5% of your waking day. Since the time savings varies so much, we're not not concerned with exact amounts or averages.
                    Just think about how much time you would save, and what you could do with that extra time. (Personally, I save over 2 hours)
                </p>
                <p>For perspective, here’s a <a target="_blank" href="https://vimeo.com/454265022">visual
                        representation</a> of 1 hour of time per day over the course of a lifetime, which equals 29,200 days.
                </p>
                <p>I would be remiss if I didn’t mention that working from home also gives you more time to do your job, while on the job. This is the <strong>productivity</strong> that everyone raves about. Workers like to be productive, it feels good and
                    employers like it even more for their bottom line.
                </p>
                <div class="center" style="margin-bottom:3px;">Read about being productive while staying human</div>
                <amz-product [amzProd]="productivityBook"></amz-product>

                <p>However, I’m reluctant to give much importance to productivity in a discussion about improving the lives of employees and saving time, because we don’t normally save time for ourselves by being productive. Our system of work is centered
                    around a 40 hour week. Regardless of how much work you complete, you have to keep going for 40 hours. There’s no motivation or reason on the part of the employee to produce more.
                </p>
                <p>If the employer were to allow you to go home after finishing the work assigned to you, or pay you extra for your accomplishments, then this would be an important topic. But this isn’t likely to happen any time soon.
                </p>
                <p>We have to work within the limits of what we can control now. We can’t wait until things change. WFH relinquishes some of that control to workers in a quasi-revolution to gently transition society into what it should be.
                </p>
            </section>
            <section>
                <h2 id="flexibility">Flexibility Enhances Remote Work</h2>
                <p><strong>Flexibility</strong> isn’t specific to WFH, but it naturally affords more of it. Office environments have the potential to allow you to come and go as you please, and to take care of yourself when needed, but most of them don’t
                    foster that kind of atmosphere. I have never worked in an office that would be OK with workers taking a 15 minute nap. The appearance of professionalism and productivity has always outweighed human needs (and actual productivity) in
                    the workplace.
                </p>
                <p>At home, you can exercise when your body needs it, and nobody cares that you're sweaty. You can nap for 20 minutes during lunch break if you really need it, and nobody will be judging your professionalism. During breaks, you could water
                    your grass, start your laundry, run the dishwasher, water your plants, walk your dog, sort your mail, or do some push ups. Imagine doing those things in a strict office environment! People have been fired for less.
                </p>
                <p>
                    Actions like <a target="_blank" href="https://www.webmd.com/a-to-z-guides/ss/slideshow-health-benefits-of-napping">napping</a>, exercise, and taking care of other human needs, would greatly enhance employee work performance. But the
                    distrust and traditions of the office environment are too strong. WFH can, and does, easily overcome these problems.
                </p>
                <h3>Micromanaging</h3>
                <p>Few workplaces treat employees like adults. Many of the ones that do to some degree, are arbitrarily making their employees return to the office. Considering these corporations are making record profits and seeing increased productivity,
                    it appears as though leadership is just wanting to keep an eye on people.
                </p>
                <p>
                    Micromanaging is all too common. It drains morale and comes from a lack of trust and poor leadership skills. Forbes published an article entitled <a target="_blank" href="https://www.forbes.com/sites/jackkelly/2021/08/17/the-real-reasons-why-companies-dont-want-you-to-work-remotely/?sh=1f6760977fb3">“The
                        Real Reasons Why Companies Don’t Want You To Work Remotely”</a> that articulates how workplaces are disregarding the needs and opinions of workers, and have their own self-serving agenda. WFH releases a lot of control to workers,
                    and that scares managers.
                </p>
                <p>When corporations fight WFH, they are fighting flexibility, because they have an obsessive need for control. Saving time is great, but it isn’t enough by itself. Workers need more control of their time.
                </p>
                <p>
                    Poor leaders in the workforce will often choose to deal with the traditional problems, because they feel more comfortable tackling those. Even good leaders can fall into the trap of seeing things only from their vantage point, and perpetuating their biased
                    reasoning to the rest of the company, ignoring real facts and data.
                </p>
                <p>Imagine having a short, 5 minute commute to the office, and only a 7 hour work day. Sounds great right? But what if you had a strict environment and it felt like 7 hours of prison and you hated going there every day. This is why flexibility
                    must accompany time savings.
                </p>
                <h2 id="happiness">WFH Can Increase Happiness</h2>
                <p>We’re all different, but we all have basic <a target="_blank" href="https://www.simplypsychology.org/maslow.html">physical and mental needs</a> that employers aren’t concerned with. Even if they were concerned with each person’s needs,
                    which is a stretch, they aren’t equipped to help. They just want your time in exchange for money. You have to take care of your own needs on your own time. In some states in the U.S., employers are not even required to give you breaks,
                    including meal breaks.
                </p>
                <p>WFH has the potential to break our society free from bad work traditions. It can allow workers to learn how to meet their long neglected needs throughout the day. In turn, humans can be happier, more productive workers. The effects of
                    this revolution can only benefit employers. If only they will try it long enough for workers to adapt to it and realize its potential.
                </p>
                <p>We’ve been in our work cages for so long, it has become an acceptible part of our society. We’ve become accustomed to one third of our day just sucking. This is why we have jokes about how bad Mondays are and why everyone is supposed to
                    just love Fridays.
                </p>
                <p>How crazy is it to think that every day could actually be enjoyable?
                </p>
            </section>
            <section>
                <h2 id="summary">Summary</h2>
                <p>Time is precious in life, but we trade it for money. We should be allowed to optimize our time by working from home. Working from home has the potential to be one of the most effective mechanisms to enable us to use our limited time wisely,
                    positively impacting our overall happiness. Employers should recognize this and stop holding on to the traditional office environment.
                </p>
                <hr class="w-100" style="margin-top: 1rem; margin-bottom:0;">

                <p>
                    Continue to
                    <a routerLink="/wfh-guide/take-control"> Part 2: Take Control by Working from Home</a>
                </p>
            </section>
        </article>
        <scroll-top-button></scroll-top-button>
    </main>
</div>