<div class="article-background">
    <main class="center-not-text article-wrapper">
        <article-header [data]="data"></article-header>
        <article-disclosure></article-disclosure>
        <article>
            <section>
                <p>
                    In part 1 I began discussing the motivations behind WFH, starting with saving time
                    and gaining flexibility. Those two life enhancements alone are significant. However,
                    WFH provides so much more! In part 2 I’ll cover the remaining major WFH advantages.
                </p>
                <section class="page-contents">
                    <p class="mb-0"><strong>Page Contents:</strong></p>
                    <ul class="mt-0" style="list-style: none;font-size: 1.2rem;">
                        <li><a href="wfh-guide/take-control#control-environment">Control Over Your Environment</a></li>
                        <li><a href="wfh-guide/take-control#avoid-illness">WFH to Avoid Spreading Illnesses</a></li>
                        <li><a href="wfh-guide/take-control#worker-exploitation">Worker Exploitation</a></li>
                        <li><a href="wfh-guide/take-control#can-wfh-solve-all-workers-problems">Can WFH Solve All Our
                                Problems?</a></li>
                        <li><a href="wfh-guide/take-control#save-money-and-reduce-stress">Stress and Money Savings</a>
                        </li>
                        <li><a href="wfh-guide/take-control#summary">Summary</a></li>
                    </ul>
                </section>
            </section>
            <section>
                <h2 id="control-environment">Control Over Your Environment</h2>
                <p>
                    If the 2020’s have taught us anything, it’s that we truly have a global society.
                    The world is big and we feel the effects of awful things that happen near and far.
                </p>
                <p>Here’s just a few of the challenges of the 2020s so far:</p>
                <ul>
                    <li>COVID-19 outbreak resulted in millions of deaths and economic decline</li>
                    <li>Post-COVID long term health effects and increased mental health issues</li>
                    <li>Most “named storms” on record in 2020</li>
                    <li>Unprecedented wildfires</li>
                    <li>Record heat with Death Valley at 130°F and Siberia hitting 100°F</li>
                    <li>Protests over police use of excessive force</li>
                    <li>Attempts to overturn U.S. election</li>
                    <li>Taliban take over Afghanistan</li>
                    <li>War in Ukraine and civil war in Ethiopia</li>
                    <li>Continuing Immigration crisis</li>
                    <li>Monkeypox</li>
                    <li>Murder hornets</li>
                    <li>40-year high inflation rates</li>
                    <li>Supply chain disruptions cause shortages in everyday goods</li>
                    <li>Global decline of democracy</li>
                    <li>Gas prices more than doubling in 2 years</li>
                    <li>Record level gun-related deaths and sharp increase of active shooter incidents</li>
                </ul>
                <p>
                    This is not a comprehensive list, but you get the point. It can sometimes feel like the whole world
                    is crumbling around us. If you’re lucky and have so far avoided death, poverty, and severe mental
                    illness, you want to keep it that way. WFH can be your sanctuary.
                </p>
            </section>
            <hr>
            <p class="italic smaller-text">WFH product recommendations on Amazon</p>
            <slider *ngIf="wfh2Slider  && wfh2Slider.length > 0" [items]="wfh2Slider"></slider>
            <hr>
            <section>
                <h2 id="avoid-illness">WFH to Avoid Illnesses Like COVID-19</h2>
                <p>
                    I can’t say that working from home can solve all of these problems, but it can mitigate some of
                    them. The easiest win, and the reason WFH took off in 2020, is to avoid deadly viruses like
                    SARS-CoV-2. Most of us know someone who has died or has gotten severely ill from it. Even some of
                    the biggest skeptics have worn masks and been vaccinated against it. We stayed home and kept our
                    kids at home from school. Some of us had very little contact with others, putting our mental health
                    at risk. It was hard, and it still is for some people.
                </p>
                <p>
                    It changed the way we work almost overnight. Businesses were forced to take measures to avoid
                    exposing their workforce to the virus. Some companies failed miserably, and were complicit in
                    spreading the virus to their employees in workplaces across the country.
                </p>
                <p>
                    We need to know we’re not going to die from going to work. If this sounds ridiculous, watch <a
                        target="_blank" href="https://amzn.to/3eAJ7fd">Radium Girls</a> on Amazon Prime, a show about
                    women who work directly with the radioactive element radium, not knowing that the radiation was
                    poisoning them. The company they worked for knew about it, and tried to keep it under wraps.
                </p>
            </section>
            <section>
                <h2 id="worker-exploitation">Worker Exploitation</h2>
                <p>
                    The pattern of businesses exploiting workers, and not caring for their health, is NOT a thing of the
                    past! It still happens today, and it will continue to happen.
                </p>
                <p>
                    Even if your workplace isn’t giving you terminal cancer, it can still be bad for your health in
                    other ways. Harassment, lack of breaks, lack of time off for emergencies, no flexibility for health
                    conditions, and no paid parental leave, are all common in the U.S. In fact, in the United States, we
                    generally work longer hours than most countries,
                    and have <a target="_blank"
                        href="https://cepr.net/images/stories/report_images/no-vacation-nation-2019-05-figure-1.png">no
                        laws requiring vacation time</a> or parental leave.
                </p>
                <p>
                    You might think that poor working conditions and exploitation is a thing of the past and that our
                    laws are now protecting us all from abuse. For some workers, that just isn't reality. Here are some
                    recent and common examples:
                </p>
                <ul>
                    <li><a target="_blank"
                            href="https://blog.dol.gov/2021/10/18/protecting-garment-workers-from-systemic-abuse">Garment
                            workers paid less than minimum wage in sweatshop-like environment</a></li>
                    <li><a target="_blank"
                            href="https://www.ajc.com/news/this-has-been-happening-for-a-long-time-modern-day-slavery-uncovered-in-ga/SHBHTDDTTBG3BCPSVCB3GQ66BQ/">Modern-day
                            slavery in South Georgia</a></li>
                    <li><a target="_blank"
                            href="https://www.nbcnews.com/news/us-news/amys-kitchen-says-food-made-love-factory-say-job-left-injured-rcna8189">Disregard
                            for injuries in factory workplace</a></li>
                    <li><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9287576/">Overwhelmed
                            health-care workers get PTSD, or become suicidal</a></li>
                    <li><a target="_blank"
                            href="https://www.motherjones.com/politics/2021/10/whats-behind-great-resignation-quits-labor-shortage-meaning/">1
                            in 4 people quit their jobs in 2021, feeling they are treated poorly</a></li>
                    <li><a target="_blank"
                            href="https://www.cnn.com/2022/05/12/perspectives/unions-workers-rights/index.html">Big
                            companies are battling against unions</a></li>
                </ul>
                <p>
                    You can also read countless stories straight from your average Americans on <a target="_blank"
                        href="https://www.reddit.com/r/antiwork/">r/antiwork</a> about their work problems great and
                    small from being bitten by a dog, to being screamed at with racist insults. There is no shortage of
                    nonsense and cruelty in the American workplace.
                </p>
                <p>
                    We have a lot of fellow Americans making wages that aren’t livable, working long hours, in less than
                    ideal conditions, who watch the daily news filled with death, disaster, and financial ruin. This is
                    a recipe for stress, physical and mental illness, and desperate action.
                </p>
                <p>
                    The Great Resignation, a trend of workers quitting their jobs, is further proof that some people are
                    just done. But others still are fighting for fairness, sometimes winning small battles, sometimes
                    losing big ones. All of it seems pretty sick in light of the world’s richest billionaires more than
                    doubling their wealth, and the CEO to average worker pay is somewhere between 670 to 1 and 1000 to 1
                    (depending on your sources).
                </p>
            </section>
            <hr>
            <p class="italic smaller-text">WFH product recommendations on Amazon</p>
            <slider *ngIf="wfh2Slider2 && wfh2Slider2.length > 0" [items]="wfh2Slider2"></slider>
            <hr>
            <section>
                <h2 id="can-wfh-solve-all-workers-problems">Can WFH Solve All Our Problems?</h2>
                <p>Well, unfortunately, not everyone is able to WFH, and I’ll be honest, probably not everyone should.
                    But for those who can and want to WFH, it can make a huge difference.
                </p>
                <p>You decide what’s around you. You’re in control of your environment.
                </p>
                <p>There is no end to the problems created when you put a lot of different people in the same space.
                    Here are some of the environmental problems WFH can potentially solve, either completely or
                    partially:</p>
                <ul>
                    <li>Encounters with rude or nosy coworkers
                    </li>
                    <li>Office gossip and judgment
                    </li>
                    <li>Harassment and discrimination
                    </li>
                    <li>Bureaucracy
                    </li>
                    <li>Noise or air pollution</li>
                    <li>Wearing masks
                    </li>
                    <li>Uncomfortable dress code
                    </li>
                    <li>Bad smells (coworkers or office)
                    </li>
                    <li>Slow internet with over-zealous filters
                    </li>
                    <li>Power outages
                    </li>
                    <li>Fire drills and bomb threats
                    </li>
                    <li>Active shooting incidents
                    </li>
                    <li>Traffic stress
                    </li>
                    <li>Virus and disease spreading
                    </li>
                    <li>Loud noises
                    </li>
                    <li>Dangerous working conditions
                    </li>
                </ul>
                <p>You might be able to think of more, but the key here is control. You create the best place for you.
                </p>
                <p class="mb-0">You can be safe.</p>
                <p class="my-0">You can be comfortable.</p>
                <p class="mt-0">You can be happy at work.</p>
                <p>None of that is a guarantee unless you take charge, and you can start by WFH!</p>
                <p>Employers have proven repeatedly that they aren’t interested in what works for you.
                    They are only starting to realize what even makes an employee happy.
                    Microsoft, for example, conducted <a target="_blank"
                        href="https://www.zdnet.com/article/microsoft-researched-what-made-employees-truly-happy-one-result-was-startling/">some
                        research</a> and discovered what makes their employees happy.
                    We knew it all along, and the answer is to just give employees some freedom,
                    treat them like adults, and let them work.
                </p>
                <p>That’s it. Stop forcing all the extra nonsense meetings, emails, and red tape. Let people do their
                    jobs.
                </p>
                <p>Note: This is assuming your workplace is already physically safe and non-threatening. Dealing with a
                    more extreme, toxic work environment likely wasn’t part of that study. Bad workplaces come in a
                    range of awfulness. In the extreme, you might be fearing for your life, health, and potentially
                    damaging your body or mind permanently. More commonly, a workplace might just have suffocating
                    policies and an uncomfortable environment.
                </p>
                <p>But will they really let us do our jobs? Real change takes a long time, and sometimes boils down to
                    waiting for the older generation to retire.
                </p>
                <p>Instead of waiting for it, find employment that allows you to WFH. Let’s continue to show the world
                    how effective we are and how our happiness is in their best interest. They will eventually get it.
                    <em>Today’s WFH dream can be tomorrow’s norm.</em>
                </p>
            </section>
            <hr>
            <p class="italic smaller-text">WFH product recommendations on Amazon</p>
            <slider *ngIf="wfh2Slider3 && wfh2Slider3.length > 0" [items]="wfh2Slider3"></slider>
            <hr>
            <section>
                <h2 id="save-money-and-reduce-stress">Stress and Money Savings</h2>
                <p>Like Thanos, stress is inevitable. But when you work in an office you encounter stressors that you
                    won’t find at home.
                </p>
                <p>Money is a huge stress factor. Worrying about money is, in fact, one of the greatest sources of
                    stress in America. According to the American Psychological Association (APA), stress can lead to <a
                        target="_blank"
                        href="https://www.apa.org/news/podcasts/speaking-of-psychology/financial-stress">chronic health
                        problems such as diabetes and heart disease</a>.</p>
                <p>In America in 2020, <a target="_blank"
                        href="https://www.cdc.gov/nchs/fastats/leading-causes-of-death.htm">four of the leading causes
                        of death</a> were:
                </p>
                <ul>
                    <li>Heart disease: 696,962</li>
                    <li>COVID-19: 350,831</li>
                    <li>Diabetes: 102,188</li>
                    <li>Influenza and pneumonia: 53,544</li>
                </ul>
                <p>Now let’s put two and two together. When you’re worried about things like how much you pay to gas up
                    and maintain your car, and you go to the office and encounter one of the many possible stressful
                    situations that can happen there, <strong>you are risking an early death</strong>.</p>
                <p>Traffic, loud coworkers, funny smells, uncomfortable room temperatures, annoying questions, constant
                    disrespect, narcissists, pointless meetings… need I go on?
                </p>
                <p><strong>Reducing stress is one of the best benefits of WFH.</strong>
                    It won’t all go away, but so much of it can be mitigated. First, you can save quite a bit of
                    money, thus reducing money-related stress. Check out this <a target="_blank"
                        href="https://www.zippia.com/research/work-from-home-savings/">
                        WFH money savings calculator</a> to see what you can save. <a target="_blank"
                        href="https://www.flexjobs.com/blog/post/does-working-remotely-save-you-money">Flexjobs.com</a>
                    claims that you can save up to $12,000 per year by WFH.
                </p>
                <p>Most of the money savings comes from not commuting, eating out less, and spending less on office
                    attire.
                </p>
                <p>Another money saving method that became popular in the past couple of years is to move to a place
                    with a cheaper cost of living, since WFH makes that possible. Get a high paying job in a big city,
                    and then move a few hours away into a rural area. This may not always work out because some
                    employers will reduce your pay based on where you live.
                </p>
                <p>Stress comes from many other sources, and finding ways to reduce it can be difficult and not
                    particular to WFH. However, having better control over your environment by WFH can enable you to
                    take action. That could mean moving to another location, an excellent WFH perk allowed by not having
                    the necessity to live close to an office building.
                </p>
                <p>The ability to move while retaining the same
                    job is quite a perk. You can now avoid high traffic areas if that stresses you out, or even
                    locations with high amounts of allergens in the air if you have children with asthma. Some people
                    may even
                    be able to escape poor living conditions caused by wars, politics, natural disasters, etc.</p>
            </section>
            <hr>
            <p class="italic smaller-text">"#WFH Work From Home: Everyday Reflections on COVID-19 and The Remote
                Workplace" is a WFH book for further and deeper reading about WFH benefits and challenges through
                accounts of working professionals during the 2020 pandemic.</p>
            <amz-product [amzProd]="wfhBook"></amz-product>
            <hr>
            <section>
                <h2 id="summary">Summary</h2>
                <p>Having control of your environment allows you to make it less stressful. You can make your home
                    office relaxing and cozy. You can wear comfortable clothes and listen to music. Put some plants
                    around you, open your windows, take a walk with your dog, do what makes you happy!</p>
                <p>You might not have the self-discipline at first to break from bad habits and create this optimal
                    space for yourself, but the point is that you can. Nobody will stop you. It can be a beautiful thing
                    to set up your home office, exactly how you like it, and tailor it to your every single preference.
                </p>
                <p>You can balance your life, you can develop good habits with no one to blame but yourself for not
                    achieving your goals.</p>
                <p>WFH to avoid diseases and stress. Save money and use the savings of time and money to generate more
                    money. Wealthy and successful people are protective of their time and make their money work for
                    them, and WFH can be a conducive environment for you to move in that direction.</p>
                <hr style="width:100%;margin-top: 1rem; margin-bottom:0;">
                <p>
                    Back to
                    <a routerLink="/wfh-guide/reasons-to-work-from-home"> Part 1: Reasons To Work From Home</a>
                </p>
            </section>
        </article>
        <scroll-top-button></scroll-top-button>
    </main>
</div>