<div class="article-background">
<main class="center-not-text article-wrapper">
    <article-header [data]="data"></article-header>
    <article-disclosure></article-disclosure>
    <article>
        <section>
            <p>The Jemigo "Work from Home Guide" is a series of WFH articles aimed at helping remote workers
                and employers understand the full picture of the WFH landscape.
            </p>
        </section>
        <section>
            <p class="my-0">
                <a routerLink="/wfh-guide/reasons-to-work-from-home">Part 1: Reasons to Work from Home</a>
            </p>
            <p class="my-0">
                <a routerLink="/wfh-guide/take-control">Part 2: Take Control by Working from Home</a>
            </p>
        </section>
        <section>
            <p>More WFH articles for this series are coming soon!</p>
        </section>
    </article>
</main>
</div>
