<div class="article-background">
<main class="center-not-text article-wrapper">
    <h1 class="mb-0">{{data?.title}}</h1>
    <p class="updated-date">Last Updated: {{ data?.modifiedDate | date }}</p>
    <article-disclosure></article-disclosure>

    <article>
        <p>Success comes in many shapes and sizes. What it looks like isn't for anyone to
            tell you, but it is essential to be in a good place mentally. Negative emotions
            and bad habits abound in the human race. Poor behaviors that lead or our unhappiness
            and ultimately destroy ourselves is all too common. Our intelligence, sometimes
            our own enemy, can also be what saves us.
        </p>
        <p>Since we can study psychology and learn why we think and act the way we do, we can 
            also combat those natural thoughts and actions. We can identify our unsuccessful
            behaviors and replace them with ones that can slowly change our lives.
        </p>
        <p>To help you identify your poor behaviors and send you on a path of self-discovery,
            it's helpful read advice from the best sources. You can do better, so here is a 
            curated list of books to spark the fire of self-improvement and success. There is 
            no gimmick or quick way to success. Just educate yourself, be patient, and work at it.
        </p>
        <h2>Curated List of Books to Help You Become Successful</h2>
        <section class="center-text">
            <p><strong>Change Habits</strong></p>
            <ng-container *ngIf="changeHabitsBooks && changeHabitsBooks.length > 0">
                <ng-container *ngFor="let book of changeHabitsBooks">
                    <amz-product class="display:inline-block;" [amzProd]="book" size="md" [singleProduct]="false" [showButton]="false"></amz-product>
                </ng-container>
            </ng-container>
        </section>
        <section class="center">
            <p><strong>Understand Yourself</strong></p>
            <ng-container *ngIf="understandYourselfBooks && understandYourselfBooks.length > 0">
                <ng-container *ngFor="let book of understandYourselfBooks">
                    <amz-product class="display:inline-block;" [amzProd]="book" size="md" [singleProduct]="false" [showButton]="false"></amz-product>
                </ng-container>
            </ng-container>
        </section>
        <section class="center">
            <p><strong>Social and Communication</strong></p>
            <ng-container *ngIf="socialAndCommunicationBooks && socialAndCommunicationBooks.length > 0">
                <ng-container *ngFor="let book of socialAndCommunicationBooks">
                    <amz-product class="display:inline-block;" [amzProd]="book" size="md" [singleProduct]="false" [showButton]="false"></amz-product>
                </ng-container>
            </ng-container>
        </section>
        <section class="center">
            <p><strong>Start A Business</strong></p>
            <ng-container *ngIf="startABusinessBooks && startABusinessBooks.length > 0">
                <ng-container *ngFor="let book of startABusinessBooks">
                    <amz-product class="display:inline-block;" [amzProd]="book" size="md" [singleProduct]="false" [showButton]="false"></amz-product>
                </ng-container>
            </ng-container>
        </section>
        <section class="center">
            <p><strong>Thrive Economically</strong></p>
            <ng-container *ngIf="thriveEconomicallyBooks && thriveEconomicallyBooks.length > 0">
                <ng-container *ngFor="let book of thriveEconomicallyBooks">
                    <amz-product class="display:inline-block;" [amzProd]="book" size="md" [singleProduct]="false" [showButton]="false"></amz-product>
                </ng-container>
            </ng-container>
        </section>
        <section class="center">
            <p><strong>Productivity</strong></p>
            <ng-container *ngIf="productivityBooks && productivityBooks.length > 0">
                <ng-container *ngFor="let book of productivityBooks">
                    <amz-product class="display:inline-block;" [amzProd]="book" size="md" [singleProduct]="false" [showButton]="false"></amz-product>
                </ng-container>
            </ng-container>
        </section>
        <section class="center">
            <p><strong>Creativity and Thought</strong></p>
            <ng-container *ngIf="creativityAndThoughtBooks && creativityAndThoughtBooks.length > 0">
                <ng-container *ngFor="let book of creativityAndThoughtBooks">
                    <amz-product class="display:inline-block;" [amzProd]="book" size="md" [singleProduct]="false" [showButton]="false"></amz-product>
                </ng-container>
            </ng-container>
        </section>
        <section class="center">
            <p><strong>Health</strong></p>
            <ng-container *ngIf="healthBooks && healthBooks.length > 0">
                <ng-container *ngFor="let book of healthBooks">
                    <amz-product class="display:inline-block;" [amzProd]="book" size="md" [singleProduct]="false" [showButton]="false"></amz-product>
                </ng-container>
            </ng-container>
        </section>
        <section class="center">
            <p><strong>Reach Your Goals</strong></p>
            <ng-container *ngIf="reachYourGoalsBooks && reachYourGoalsBooks.length > 0">
                <ng-container *ngFor="let book of reachYourGoalsBooks">
                    <amz-product class="display:inline-block;" [amzProd]="book" size="md" [singleProduct]="false" [showButton]="false"></amz-product>
                </ng-container>
            </ng-container>
        </section>
    </article>
</main>
</div>