<main style="padding: 10px 20px 20px 20px; max-width:1400px;">
    <header>
        <h1 class="mt-0">{{data?.title}}</h1>
    </header>
    <nav style="margin-bottom:10px;">
        <div>
            <a routerLink="/wfh-tools/percent-change-calculator">Percent Change Calculator</a>
        </div>
        <div>
            <a routerLink="/wfh-tools/wfh-time-savings-calculator">WFH Time Savings Calculator</a>
        </div>
    </nav>
    <hr style="width:95%;margin-left: 0;">
    <h2>Select a WFH tool from the menu</h2>
    <p>The <strong>Percent Change Calculator</strong> is a tool that can be used
        to figure out how much your salary has increased after a raise or how much
        a stock has increased from when you bought it. This tool has many uses and
        saves you the trouble of figuring out the math.</p>
    <p>Our <strong>WFH Time Savings Calculator</strong> shows you how much time
        you can save throughout a week, month, or year by working remotely.</p>
</main>