<main>
    <header>
        <section class="blog-header content-padding">
            <h2 class="subheader-font-white mb-0">Jemigo</h2>
            <h1 class="app-header-font-lightblue mb-20">Blog</h1>
        </section>
    </header>
    <section class="flex-wrapper content-padding">
        <p class="py-40 m-0">Our articles are full of helpful information and resources for men and women who currently
            work from home and those who are planning to make the leap. We hope these will give you 
            inspiration, motivation, and ideas to improve your work from home lifestyle.
        </p>
        <article-related [articlesData]="topArticles" [showHeader]="false" [centerLinks]="true">
        </article-related>
    </section>
    <section class="content-padding pt-40 pb-70 m-0">
        <h3 class="app-subheader-font mb-40">Need more tips? Check out our product reviews!</h3>
        <jmg-btn (onClick)="navigateTo('reviews')">See Reviews</jmg-btn>
    </section>
</main>