<main>
    <header>
        <section class="app-header-section">
            
            <img ngSrc="/assets/images/woman-working-from-home.jpg" alt="Working from home" class="header-image" fill priority>
            <div class="app-header-content">
                <div class="app-header-overlay">
                    <h1 class="app-header-font no-wrap">Get Started Now</h1>
                    <h2 class="subheader-font-primary mt-5 pb-20 hide-small no-wrap">Affiliate Marketing for Beginners</h2>
                    <h2 class="app-subheader-font hide-medium hide-large mt-10 pb-20">Affiliate Marketing Community for Beginners</h2>
                    <h3 class="subheader-font-secondary mb-0">100% Free, Never Pay, No Risk, No Subscription</h3>
                    <div class="app-calltoaction-btn">
                        <jmg-btn (onClick)="navigateTo('blog')">Get Started</jmg-btn>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <section class="app-main-content">
        <div class="app-main-content-inner-wrapper">
            <section class="app-intro-mobile">
                <ng-container *ngTemplateOutlet="appIntro"></ng-container>
            </section>
            <section class="app-main-col-left">
                <section style="display:grid;grid-row-gap:70px;">
                    <article-card *ngFor="let art of featured" [title]="art.title" [linkRoute]="art.data.fullPath"
                        [date]="art.articleDate" [imgRoute]="art.data.image.src" [snippet]="art.snippet" [alt]="art.alt">
                    </article-card>
                </section>
                <div style="padding-top:40px;">
                    <jmg-btn (onClick)="navigateTo('blog')">See All Articles</jmg-btn>
                </div>
                <article-related [articlesData]="topArticles" [smallerVersion]="true">
                    Top Articles
                </article-related>
            </section>
            <section class="app-main-col-right-bottom">
                <section class="app-main-col-right-top">
                    <ng-container *ngTemplateOutlet="appIntro"></ng-container>
                </section>
                
            </section>

        </div>
    </section>
</main>

<ng-template #appIntro>
    <section>
        <h3 class="app-subheader-font mt-5 mb-20">Our Motto</h3>
        <div class="mt-0 mb-40 motto-text">You can do affiliate marketing too!</div>

        <h3 class="app-subheader-font mt-5 mb-20">Resources</h3>
        <div class="resources mb-40">
            <a href="https://www.bls.gov/cps/telework.htm" target="_blank">Statistics</a>
            <p class="mt-0">Source: U.S. Bureau of Labor Statistics</p>

        </div>

        <h3 class="app-subheader-font mt-5 mb-20">Our articles</h3>
        <div class="mb-40 center-text-mobile">
            <jmg-btn [color]="'blue'" (onClick)="navigateTo('blog')">Read Articles</jmg-btn>
        </div>

        <h3 class="app-subheader-font mt-5 mb-20">Our reviews</h3>
        <div class="mb-20 center-text-mobile">
            <jmg-btn [color]="'blue'" (onClick)="navigateTo('reviews')">See Product Reviews</jmg-btn>
        </div>
    </section>
</ng-template>